<section class="page limiter">
	<div class="page__content">
		<h1 class="page__title page__title--size-1">MQL5 Articles</h1>

		<% include ../pagination/pagination.html %>

		<% include ../news-list/news-list.html %>

		<% include ../pagination/pagination.html %>
	</div>

	<aside class="page__aside">
		<a href="#" class="page__aside-banner">
			<img src="../../img/aside-banner-1.png" width="289" height="311" alt="description">
		</a>

		<a href="#" class="page__aside-banner">
			<img src="../../img/aside-banner-2.png" width="288" height="288" alt="description">
		</a>
	</aside>

	<div class="page__shadow"><!--shadow--></div>
</section>