@import '../global/global';

.menu-sub {
	display: none;
	list-style: none;
	background: $menu-main-tab-active;
	padding-left: 11px;
	margin-bottom: 4px;

	&__item {
		display: block;
		text-decoration: none;
		outline: none;
		color: $active-item-color;
		padding: 0 5px 0 6px;
		line-height: 29px;
	}

	@media (min-width: $display-xs) {
		& {
			display: flex;
		}
	}
}