<section class="news-list">
	<article class="news-list__item">
		<a class="news-list__picture">
			<img src="../../img/article-preview.png" alt="Short description" height="58" width="58">
		</a>
		<div class="news-list__content">
			<a href="#" class="news-list__title">Graphicall Interface II: the Separation Line and Context Menu Elements
				(Chapter 2)</a>
			<div class="news-list__author-box">
				by <a class="news-list__author" href="http://johnsplace.com" rel="author">John</a>
			</div>
			<p class="news-list__short-content">
				In this article we will create the separation line element. It will be possible to use
				only as an independent interface element but also as a part of many others elements.
				After that, we will...
			</p>


			<% include ../news-panel/news-panel.html %>
		</div>
	</article>
	<article class="news-list__item">
		<a class="news-list__picture">
			<img src="../../img/article-preview.png" alt="Short description" height="58" width="58">
		</a>
		<div class="news-list__content">
			<a href="#" class="news-list__title">Graphic Interface ||: the Separation Line and Context Menu Elements
				(Chapter 2)</a>
			<div class="news-list__author-box">
				by <a class="news-list__author" href="http://johnsplace.com" rel="author">John</a>
			</div>
			<p class="news-list__short-content">
				In this article we will create the separation line element. It will be possible to use
				only as an independent interface element but also as a part of many others elements.
				After that, we will...
			</p>


			<% include ../news-panel/news-panel.html %>
		</div>
	</article>
	<article class="news-list__item">
		<a class="news-list__picture">
			<img src="../../img/article-preview.png" alt="Short description" height="58" width="58">
		</a>
		<div class="news-list__content">
			<a href="#" class="news-list__title">Graphic Interface ||: the Separation Line and Context Menu Elements
				(Chapter 2)</a>
			<div class="news-list__author-box">
				by <a class="news-list__author" href="http://johnsplace.com" rel="author">John</a>
			</div>
			<p class="news-list__short-content">
				In this article we will create the separation line element. It will be possible to use
				only as an independent interface element but also as a part of many others elements.
				After that, we will...
			</p>


			<% include ../news-panel/news-panel.html %>
		</div>
	</article>
	<article class="news-list__item">
		<a class="news-list__picture">
			<img src="../../img/article-preview.png" alt="Short description" height="58" width="58">
		</a>
		<div class="news-list__content">
			<a href="#" class="news-list__title">Graphic Interface ||: the Separation Line and Context Menu Elements
				(Chapter 2)</a>
			<div class="news-list__author-box">
				by <a class="news-list__author" href="http://johnsplace.com" rel="author">John</a>
			</div>
			<p class="news-list__short-content">
				In this article we will create the separation line element. It will be possible to use
				only as an independent interface element but also as a part of many others elements.
				After that, we will...
			</p>


			<% include ../news-panel/news-panel.html %>
		</div>
	</article>
	<article class="news-list__item">
		<a class="news-list__picture">
			<img src="../../img/article-preview.png" alt="Short description" height="58" width="58">
		</a>
		<div class="news-list__content">
			<a href="#" class="news-list__title">Graphic Interface ||: the Separation Line and Context Menu Elements
				(Chapter 2)</a>
			<div class="news-list__author-box">
				by <a class="news-list__author" href="http://johnsplace.com" rel="author">John</a>
			</div>
			<p class="news-list__short-content">
				In this article we will create the separation line element. It will be possible to use
				only as an independent interface element but also as a part of many others elements.
				After that, we will...
			</p>


			<% include ../news-panel/news-panel.html %>
		</div>
	</article>
</section>