<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="../index/index.css">
<script></script>

<body>
<div class="side-offset">
	<link rel="stylesheet" href="../header/header.css">
	<script> </script>
	<% include ../header/header.html %>

	<link rel="stylesheet" href="../menu-main/menu-main.css">
	<script> </script>
	<% include ../menu-main/menu-main.html %>

	<link rel="stylesheet" href="../menu-sub/menu-sub.css">
	<script> </script>
	<% include ../menu-sub/menu-sub.html %>

	<link rel="stylesheet" href="../main-banner/main-banner.css">
	<script> </script>
	<% include ../main-banner/main-banner.html %>

	<link rel="stylesheet" href="../page/page.css">
	<script></script>
	<% include ../page/page.html %>

</div>
<link rel="stylesheet" href="../footer/footer.css">
<script> </script>
<% include ../footer/footer.html %>

</body>
</html>