/* Display breakpoints*/
$display-xs: 480px;
$display-sm: 768px;

/* Colors */
$search-field-border: #bdbdbd;
$profile-username-color: #042a37;
$footer-platforms-item-color: #252c2f;
$link-color: #2379b5;
$active-item-color: #13242f;
$menu-main-tab-active: #ffd386;
$page-border-color: #e8e8e8;
$news-panel-link-color: #848484;
$pagination-item-color: #3c83ba;

/* Font */
$font-size-xs: 10px;
$font-size-small-1: 11px;
$font-size-small-2: 12px;
$font-size-medium-1: 13px;
$font-size-medium-2: 14px;
$font-size-large-1: 16px;
$font-size-large-2: 17px;